<section class="my-5">
  <div class="container-fluid">
    <div class="row mx-3">
      <div class="col-lg-6">
        <div class="lady-justice">
          <img src="assets/images/png/about-images/lady-justice.png" alt="lady justice statue in law firm" class="w-100">
        </div>
      </div>
      <div class="col-lg-6 text-end p-2 align-content-center">
        <h3 class="main-text-color">نبذه عن دال الحلول</h3>
        <h2 class="light-gray header fw-bold">المساعدة في التغلب على العبء القانوني وتخفيفه</h2>
        <p class="light-gray fs-5 pt-3">شركة دال الحلول هي شركة سعودية تقدم خدمات قانونية متكاملة و شاملة لجميع القطاعات يضم فريقنا من المحامين والخبراء القانويين ذوي الخبرة الواسعه في الانظمة والقوانين المحلية و الدولية مما يضمن حصول عملائنا علي أفضل الخدمات القانونية</p>
      </div>
    </div>
  </div>
</section>
