.header{
  font-size: 60px;
}
.lawyer{
 text-align: center;
 overflow: hidden;
 img{

  transition: all 0.7s;
 }
 &:hover img{
  transform: scale(115%);
 }
 h4{
  font-weight: 400;
  font-size: 35px;
 }

}
@media (max-width: 576px) {
  .row{
    margin-inline: 5px;
  }
  .header{
    font-size: 32px;
  }
  h4{
    font-weight: 400;
    font-size: 25px !important;
   }
   p{
    font-size: 12px;
   }
   .img{
    width: 75%;
    margin-inline: auto;
   }
 }
