<div>
  <img src="assets/images/png/lawyers-images/image 7.png" height="200px" width="200px" alt="">
</div>
<section>
  <div class="container">
    <div class="row mb-2">
      <div class="col-lg-5 align-content-center text-center">
        <p class="light-gray fs-5">لوريم إيبسوم دولور سيت أميت كونسيكتتور. كومودو بولفينار موليستي بيلينتسكي أورنا ليبر وفيلت بورتا. فيلت بيلينتسكي هاك غرافيدا بيلينتسكي إيست سيمبر. دويس ليكتوس غرافيدا أولتريسيز إليفيند إن.</p>
      </div>
      <div class="col-lg-7 text-end">
        <h6 class="main-text-color fs-4">محامي</h6>
        <h2 class="fw-bold header">محامون محترفون ومستشارون ذوو خبرة أكبر</h2>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4">
        <div class="lawyer">
          <div class="overflow-hidden">
          <img src="assets/images/png/lawyers-images/Jennifer-Smith.png" alt="" class="w-100">
          </div>
          <h4 class="light-gray pt-4 pb-2 ">جينيفر سميث</h4>
          <p>محامية أعمال أولى</p>
        </div>
      </div>
       <div class="col-lg-4">
        <div class="lawyer">
          <div class="overflow-hidden">
            <img src="assets/images/png/lawyers-images/nada-gio-morgant.png" alt="" class="w-100">
          </div>

          <h4 class="light-gray pt-4 pb-2 ">نادا جيو مورغانت</h4>
          <p>محامية أعمال أولى</p>
        </div>
      </div>
       <div class="col-lg-4">
        <div class="lawyer">
          <div class="overflow-hidden">
          <img src="assets/images/png/lawyers-images/daisy-wiley.png" alt="" class="w-100">
          </div>
          <h4 class="light-gray pt-4 pb-2 ">ديزي ويلي</h4>
          <p>محامية أعمال أولى</p>
        </div>
      </div>
    </div>
  </div>
</section>
