<section>

    <div class="nav-menu">
      <ul>
        <li  > <a class="text-white" >تواصل معنا</a></li>
        <li ><a class="text-white"  >خدماتنا</a></li>
        <li  ><a class="text-white"   >نبذه عنا</a></li>
        <li  ><a  class="main-text-color">الرئيسية</a></li>

      </ul>

   </div>

  <div class="container-fluid ">
    <div class="row pt-5 mx-5 my-4">
      <div class="col-lg-5">
        <div class="image h-100 ">
          <img
            src="assets/images/png/home-images/home-header-img.png"
            class="w-100"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-7 text-white text-end align-content-center">
        <p>احصل على دعم قانوني قوي</p>
        <h1><span class="main-text-color">دال الحلول</span> تقدم أفضل
          خدمات قانونية ممكنة</h1>
        <p>شركة دال الحلول هي شركه سعودية للمحاماه والاستشارات القانونية <br> الهامه والعاجلة</p>
        <button class="main-btn">تواصل معنا الان</button>
      </div>
    </div>
  </div>
</section>
