<section>
  <div class="container text-white text-end">
    <div class="text-center py-4">
      <img src="assets/images/png/footer-images/logo.png" alt="" class="mx-auto">
    </div>
    <hr class="w-75 mx-auto">
    <div class="row">
      <div class="col-3">
        <h4 class="my-4">تواصل عنا الان</h4>
          <p >+699 509 665 666<i class="fa-solid fa-phone ms-3"></i></p>
          <p >Kingdom of Saudi Arabia, Jaddah<i class="fa-solid fa-location-dot ms-3"></i></p>
          <p >info@dalslaw.com<i class="fa-solid fa-envelope ms-3"></i></p>
      </div>
      <div class="col-3">
        <h4 class="my-4">الاقسام</h4>
        <p >نبذه عنا<i class="fa-solid fa-phone ms-3"></i></p>
        <p >خدماتنا<i class="fa-solid fa-location-dot ms-3"></i></p>
        <p >بعض الحالات<i class="fa-solid fa-envelope ms-3"></i></p>
        <p >أراء عملائنا<i class="fa-solid fa-envelope ms-3"></i></p>
      </div>
      <div class="col-6">
        <div class="w-50 ms-auto">
          <h4 class="my-4">لماذا تختار دال الحلول</h4>
          <p>نؤمن بأن الشفافية والمهنية هما أساس الثقة بيننا و بين عملائنا ونعدكم بتقديم أفضل ما لدينا من خبرات لضمان تحقيق
            أعلي مستويات من الرضا و النجاح</p>
            <div class="social">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
             <a href=""> <i class="fa-brands fa-instagram"  ></i></a>
            <a href="">  <i class="fa-brands fa-twitter"  ></i></a>
            <a href="">  <i class="fa-brands fa-linkedin"  ></i></a>
            </div>
        </div>

      </div>
    </div>
  </div>
</section>
