section{
  background-color: rgba(23, 36, 53, 1);
  .social{
    i{
      color:white;
      padding-inline: 8px;
      font-size: 20px;
    }
  }
}

@media (max-width: 576px) {
  section{
   width: 100%;
   h4{
    font-size: 14px;
   }
   p{
    font-size: 10px;
   }
  }
 }
