<section class="my-5" id="contact">
  <div class="container">
    <div class="row text-end">
      <div class="col-lg-5">
        <div class="contact">
          <div class="row">
            <div class="col-11">
              <h6>رقم الجوال</h6>
              <p class="main-text-color">+699 509 665 666</p>
            </div>
            <div class="col-1"><i class="fs-5 fa-solid fa-phone   main-text-color"></i></div>
          </div>
          <div class="row">
            <div class="col-11">
              <h6>البريد الالكتروني</h6>
              <p class="main-text-color">info@dalslaw.com</p>
            </div>
            <div class="col-1"><i class="fs-5 fa-solid fa-envelope   main-text-color"></i></div>
          </div>
          <div class="row">
            <div class="col-11">
              <h6>الموقع</h6>
              <p class="main-text-color">Kingdom of Saudi Arabia, Jaddah</p>
            </div>
            <div class="col-1"><i class="fs-5 fa-solid fa-location-dot   main-text-color"></i></div>
          </div>
          <h5>تابعنا على</h5>
          <div class="social">
            <a href=""><i class="text-black fa-brands fa-facebook"></i></a>
             <a href=""> <i class="text-black fa-brands fa-instagram"  ></i></a>

            <a href="">  <i class="text-black fa-brands fa-linkedin"  ></i></a>
            </div>
        </div>
      </div>
      <div class="col-lg-7">
        <h3 class="light-gray">تواصل معنا</h3>
        <p>ارسل لنا مشكلتك او قضيتك ونحن سوف نقوم بالرد عليك في اسرع وقت بالحل الامثل لقضيتك او مشكلتك . لا تتردد في التواصل معنا او الاتصال بنا ماذا تنتظر الان !!</p>
        <form>
          <div class="row">
            <div class="py-2 col-lg-6">
              <span> <label for="first-name">الاسم الاخير</label><img src="assets/images/svg/contact-images/Required asterisk.svg" alt="" class="ms-1"></span>
              <input type="text" class="form-control text-end" id="first-name" placeholder="ادخل الاسم الاخير ">
            </div>
            <div class="py-2 col-lg-6">
              <span> <label for="last-name">الاسم الاول</label><img src="assets/images/svg/contact-images/Required asterisk.svg" alt="" class="ms-1"></span>
              <input type="text" class="form-control text-end" id="last-name" placeholder="ادخل الاسم الاول">
            </div>
            <div class="py-2 col-lg-6">
              <span> <label for="phone-number">رقم الجوال</label><img src="assets/images/svg/contact-images/Required asterisk.svg" alt="" class="ms-1"></span>
              <div class="input-group mb-3">
                <input type="text" class="form-control text-end" id="phone-number" placeholder="00 000 0000">
                <span class="input-group-text" id="basic-addon2">+966</span>
              </div>
            </div>
            <div class="py-2 col-lg-6">
              <span> <label for="email">البريد الالكتروني</label><img src="assets/images/svg/contact-images/Required asterisk.svg" alt="" class="ms-1"></span>
              <input type="text" class="form-control text-end" id="email" placeholder="ادخل البريد الالكتروني">
            </div>
            <div class="py-2 col-lg-12">
              <span> <label for="subject">موضوع</label><img src="assets/images/svg/contact-images/Required asterisk.svg" alt="" class="ms-1"></span>
              <input type="text" class="form-control text-end" id="subject" placeholder="اكتب موضوعك">
            </div>
            <div class="py-2 col-lg-12">
              <span> <label for="message">كيف يمكننا المساعدة؟</label><img src="assets/images/svg/contact-images/Required asterisk.svg" alt="" class="ms-1"></span>
              <textarea type="text" class="form-control text-end" id="message" placeholder="نص تلميحي"></textarea>
            </div>
          </div>
          <button class="main-btn my-3">إرسال الان</button>
        </form>
      </div>
    </div>
  </div>
</section>
