<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 align-content-end text-end  p-4">
        <h2 class="light-gray fw-bold header ">ما يميزنا في المحاماه والاستشارات القانونية لمدة 28 عامًا</h2>
        <hr class="my-5">
        <div>
          <p class=" light-gray fs-4">نجاح في التعامل مع القضايا<img class="ms-3" src="assets/images/svg/spicifications-images/Tick Square.svg" alt=""></p>
          <p class=" light-gray fs-4">مسؤول عن الرفع<img class="ms-3" src="assets/images/svg/spicifications-images/Tick Square.svg" alt=""></p>
          <p class=" light-gray fs-4">نجاح في التعامل مع القضايا<img class="ms-3" src="assets/images/svg/spicifications-images/Tick Square.svg" alt=""></p>
          <p class=" light-gray fs-4">مسؤول عن الرفع<img class="ms-3" src="assets/images/svg/spicifications-images/Tick Square.svg" alt=""></p>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="p-4 img">
          <img src="assets/images/png/spicifications-images/justice.png" alt="" class="w-100">
        </div>
      </div>
    </div>
  </div>
</section>
