<section class="my-5 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-content-center text-center">
        <div class="img-wrapper">
            <div class="img-card rounded-3 position-relative">
                <img src="assets/images/png/feedback-images/Image.png" alt="">
                <h3 class="fw-bold">مكتب محاماه ذو خبره كبيره جدا و عالية في القانون والاستشارات القانونية</h3>
                <h6 class="main-text-color my-4 fw-bold pb-4">Malak Ghattas</h6>
            </div>
        </div>
    </div>
      <div class="col-lg-6 text-end">
        <h6 class="main-text-color fs-5 mt-5 mb-4">شهاردات عملائنا</h6>
        <h2 class="fw-bold header light-gray">يقول عملاؤنا السعداء عنا</h2>
      </div>
    </div>
  </div>
</section>
